@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Stack+Sans+Notch:wght@200..700&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
    --font-heading: 'Stack Sans Notch', sans-serif;
    --font-body: 'Archivo Narrow', sans-serif;
    
    /*Day color */
    --color-primary-900: #494037; /*Primary*/
    --color-primary-500: #b5b9a2; /*Secondary*/
    --color-primary-300: #7e8c69; /*Accent*/
    --color-primary-200: #15120f; /*Font*/
    --color-primary-100: #f6f4f3; /*Background*/
    /*Night color */
    --color-secondary-900: #c8bfb6; /*Primary*/
    --color-secondary-500: #595d46; /*Secondary*/
    --color-secondary-300: #889673; /*Accent*/
    --color-secondary-200: #f0edea; /*Font*/
    --color-secondary-100: #0c0a09; /*Background*/
}

@custom-variant dark (&:where(.dark, .dark *));